@import "tailwindcss";

body {
  @apply bg-slate-900 text-white antialiased;
  
  /* Touch optimization: boton text label unable to select  */
  touch-action: manipulation;
  overflow-x: hidden;
}

/* Volume bar transition fluid. */
.transition-all {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}