@import "tailwindcss";

@layer base {
body {
  @apply bg-slate-900 text-white antialiased;

  /* Touch optimization: boton text label unable to select  */
  user-select: none;

  -webkit-user-select: none; /* Safari/iOS */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */

   /* No secondary menu options */
  -webkit-touch-callout: none;

   /* No zoom */
  touch-action: pan-y pinch-zoom;


}}

/* Volume bar transition fluid. */
.transition-all {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}